wsUnitTest/Service References/ServiceCalculoRota/ServiceRoute.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceRoute" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2684/IServiceRoute.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2684/IServiceRoute.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2684/IServiceRoute.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wsMapLinkInformacoesRota.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceRoute_GetInformacoesRota_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInformacoesRota" />
  </wsdl:message>
  <wsdl:message name="IServiceRoute_GetInformacoesRota_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInformacoesRotaResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceRoute_strGetInformacoesRota_InputMessage">
    <wsdl:part name="parameters" element="tns:strGetInformacoesRota" />
  </wsdl:message>
  <wsdl:message name="IServiceRoute_strGetInformacoesRota_OutputMessage">
    <wsdl:part name="parameters" element="tns:strGetInformacoesRotaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceRoute">
    <wsdl:operation name="GetInformacoesRota">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRoute/GetInformacoesRota" message="tns:IServiceRoute_GetInformacoesRota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRoute/GetInformacoesRotaResponse" message="tns:IServiceRoute_GetInformacoesRota_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="strGetInformacoesRota">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceRoute/strGetInformacoesRota" message="tns:IServiceRoute_strGetInformacoesRota_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceRoute/strGetInformacoesRotaResponse" message="tns:IServiceRoute_strGetInformacoesRota_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceRoute" type="tns:IServiceRoute">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInformacoesRota">
      <soap:operation soapAction="http://tempuri.org/IServiceRoute/GetInformacoesRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="strGetInformacoesRota">
      <soap:operation soapAction="http://tempuri.org/IServiceRoute/strGetInformacoesRota" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceRoute">
    <wsdl:port name="BasicHttpBinding_IServiceRoute" binding="tns:BasicHttpBinding_IServiceRoute">
      <soap:address location="http://localhost:2684/IServiceRoute.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>